@import 'ember-paper';
@import 'ember-paper-link';
@import 'paper-data-table';

$budgetblack: #233d4d;
$budgetgreen: #64b64a;
$budgetred: #d81159;
$budgetblue: #5bc0eb;

html {
  font-size: 8px;
}

a {
  text-decoration: none;
}

.app-container {
  height: 100vh;
}

.app-main {
  margin-bottom: 6rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.page {
  overflow-y: auto;
  overflow-x: hidden;
}

.nav-bar {
  background-color: color($primary);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6rem;

  .nav-button {
    height: 100%;
    border-radius: 0;
    margin: 0;
  }
}

.paper-link {
  color: contrastColor($primary, '200');
  margin: 0;
  padding: 1rem 0;
  height: 100%;

  &.active {
    color: white;
  }
}

.budget-balance {
  background-color: $budgetblack;
  font-size: 8rem;
  padding: 4rem 0;
}

.number--negative {
  color: color($warn);
}

.number--positive {
  color: $budgetgreen;
}

.fab--primary {
  position: absolute;
  bottom: 8rem;
  right: 2rem;
}

.fab--secondary {
  position: absolute;
  bottom: 16rem;
  right: 2rem;
}

.transaction-input {
  font-size: 2rem;
}

.overview-container {
  background-color: $budgetblack;
  color: white;
  text-align: center;
  font-size: 3rem;
}

.budget-unallocated {
  font-size: 8rem;
}

.page--dark {
  background-color: $budgetblue;
}

.transfer-select {
  font-size: 2rem;
}

.select-option {
  font-size: 2rem;
}

.expense-remaining {
  font-size: 3rem;
}

.expense-percentage-text {
  margin: 0 1rem;
  font-size: 2rem;
}

.expense-balance {
  color: white;
  padding: 1rem;
  text-align: center;

  h1 {
    font-size: 6rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  p {
    font-size: 1.5rem;
  }
}

.expense-balance--primary {
  background-color: $budgetblack;
}

.expense-balance--accent {
  background-color: color($accent);
}

.transfer-switch {
  margin: 0 0 0 1rem !important;
}

.text--enabled {
  color: $budgetblue;
}

.text--disabled {
  color: $budgetblack;
}

.login-page {
  background-color: $budgetblack;
  height: 100%;

  h1 {
    font-size: 6rem;
    color: white;
  }
}

.google-login {
  font-size: 2rem;
  padding: 1rem;
}