@import 'ember-paper';
@import 'ember-paper-link';
@import 'paper-data-table';

$budgetblack: #233d4d;
$budgetgreen: #64b64a;

html {
  font-size: 8px;
}

a {
  text-decoration: none;
}

.app-container {
  height: 100vh;
}

.app-main {
  margin-bottom: 6rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.page {
  overflow-y: auto;
  overflow-x: hidden;
}

.nav-bar {
  background-color: color($primary);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6rem;
}

.paper-link {
  color: contrastColor($primary, '200');
  margin: 0;
  padding: 1rem 0;
  height: 100%;

  &.active {
    color: white;
  }
}

.budget-balance {
  background-color: $budgetblack;
  font-size: 8rem;
  padding: 4rem 0;
}

.number--negative {
  color: color($warn);
}

.number--positive {
  color: $budgetgreen;
}

.fab--primary {
  position: absolute;
  bottom: 8rem;
  right: 2rem;
}

.fab--secondary {
  position: absolute;
  bottom: 16rem;
  right: 2rem;
}

.transaction-input {
  font-size: 2rem;
}

.overview-container {
  background-color: $budgetblack;
  color: white;
  text-align: center;
  font-size: 3rem;
}

.budget-unallocated {
  font-size: 8rem;
}