<div class='app-container layout-column layout-align-start-stretch'>
  <div class='flex layout-column page'>
    {{outlet}}
  </div>

  <div class='layout-row layout-align-space-around-center nav-bar'>
    {{paper-link 'Overview' 'overview' class='flex'}}
    {{paper-link 'Budgets' 'budgets' class='flex'}}
    {{paper-link 'Expenses' 'expenses' class='flex'}}
  </div>
</div>