<div class='app-container layout-column layout-align-start-stretch'>
  <header class='app-header layout-row'>
    <h1 class='app-title'>Budget App</h1>
  </header>

  <div class='flex column page'>
    {{outlet}}
  </div>

  <div class='layout-row layout-align-space-around-center nav-bar'>
    {{paper-link 'Overview' 'overview' class='flex'}}
    {{paper-link 'Budgets' 'budgets' class='flex'}}
    {{paper-link 'Expenses' 'expenses' class='flex'}}
  </div>
</div>