<div class='app-container column'>
  <header class='app-header row align-center'>
    <h1 class='app-title'>Budget App</h1>
  </header>

  <div class='flex'>
    {{outlet}}
  </div>

  {{nav-bar}}
</div>