<div class="login-page layout-column layout-align-center-center">
  <h1>EZ Budget</h1>

  {{#paper-button class="google-login" onClick=(action 'login') raised=true primary=true }}
    Login with Google
  {{/paper-button}}
</div>