<div class='column overview-container page align-center'>
  {{ember-chart class='overview-chart' type='doughnut' data=balanceData width=100 height=100 options=chartOptions }}

  <h2 class='overview-text text--inverted'>{{scheduling.nextPaydayDays}} {{if (eq scheduling.nextPaydayDays 1) 'day' 'days'}} until next payday</h2>
</div>